version: '3.7'

services:
  mpspdz:
    image: mp-spdz
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/MP-SPDZ
    cap_add:
      - NET_ADMIN
    volumes:
      - ./compiled-programs/Bytecode:/usr/src/MP-SPDZ/Programs/Bytecode
      - ./compiled-programs/Schedules:/usr/src/MP-SPDZ/Programs/Schedules
      - ./Compiler/mpspdz:/usr/src/MP-SPDZ/Compiler/mpspdz
      - ./Compiler/setup.py:/usr/src/MP-SPDZ/Compiler/setup.py
      - ./CONFIG:/usr/src/MP-SPDZ/CONFIG
      - ./Makefile:/usr/src/MP-SPDZ/Makefile
      - ./Programs/Source:/usr/src/MP-SPDZ/Programs/Source
      - ./Scripts:/usr/src/MP-SPDZ/Scripts
      - ./Math:/usr/src/MP-SPDZ/Math
      - ./Scripts/hbswap:/gopath/src/github.com/initc3/MP-SPDZ/Scripts/hbswap
    command: bash Programs/Source/hbmpc_mimc_test.sh
